
.fixed-table-loading{
  display: none;
}

body {
    background-color: #313537;
}
thead {
    background-color: rgba(0,0,0,0.5);
    COLOR: white;
}

tbody{
  background-color: #ffffff;
}

table, tr, td {
    border: none;
}

h4 p{
 height: 0px; 
}

h4:hover p{
 height: auto; 
}
